In [1]:
# Dependencies and deffinitions
import random
import pandas as pd
import numpy as np
import requests
import json
import re
from config import gkey
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "35.252828545589864, -80.8561618515021", 
    "radius": 16000,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}

In [2]:
# Setup empty response holder
cities_name = []
State = []
Latitude = []
Longitude = []
Place_ID = []
Price_range = []
Rating = []
Ratings_count = []

In [11]:
# assemble url and make API request
# Lower 48 box 25 to 49 -125 to -67

for i in range(10):
    lat = random.uniform(25.000000001, 49.000000001)
    lng = random.uniform(-125.000000001, -67.000000001)
    ll_dot = str(lat) +', ' + str(lng)
    
    params = {
    "location": ll_dot,  
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
    }
    
    response = requests.get(base_url, params=params).json()
    
# extract results
    #print(ll_dot)
    #print(json.dumps(response, indent=4, sort_keys=True))
    try:
        # Checked in json formatter there are 3-parent attribute, if status=ok then proceed
        if (response["status"] == "OK"):           
                for j in range(len(response["results"])):
                    if (response["results"][j]["business_status"] == "OPERATIONAL"):
                        #print(response["results"][j]["plus_code"]["compound_code"]+"test")
                        
                        city_state=response["results"][j]["plus_code"]["compound_code"]
                        #print(city_state) 
                        
                        # Using Regular expression(Regex) for slicing city and state
                        x = re.findall("(\w*),", city_state)
                        #print(x)
                        city = x[0]
                        state = x[1]
                        
                        place_id = response["results"][j]["place_id"]
                        lat = response["results"][j]["geometry"]["location"]["lat"]
                        lng = response["results"][j]["geometry"]["location"]["lng"]
                        price_level = response["results"][j]["price_level"]
                        rating = response["results"][j]["rating"]
                        user_ratings_total = response["results"][j]["user_ratings_total"]
                        
                        #print(place_id)
                        #print(lat)
                        #print(lng)
                        #print(price_level)
                        #print(rating)
                        #print(user_ratings_total)
                       # print(city)
                       # print(state)
                        
                      # Empty string check  
                    if("" !=city and "" !=state and "" !=str(place_id) and "" !=str(lat) and "" !=str(lng) 
                       and "" !=str(price_level) and "" !=str(rating) and "" !=str(user_ratings_total) ):
                        cities_name.append(city)
                        State.append(state)
                        Place_ID.append(str(place_id))
                        Latitude.append(str(lat))
                        Longitude.append(str(lng))
                        Price_range.append(str(price_level))
                        Rating.append(str(rating))
                        Ratings_count.append(str(user_ratings_total))
                        #print("inside")
                        
                        #print(response["results"][j]["place_id"]+"TEST")
                        #food_ratings_df = food_ratings_df.append(new_row, ignore_index=True)
    except(KeyError, IndexError):
        print("Data not found. Skipping...")
        pass
    
print("-----------------------------")
print("Data Retrieval Complete")
print("-----------------------------")

Data not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [12]:
#city_weather_df.to_csv(r'ratings.csv', index = False)
#food_ratings_df.head()

# Create a data frame using data retrieved
food_ratings_df = pd.DataFrame({ 
                "City" : cities_name,
                "Lat" : Latitude,
                "Lng" : Longitude,
                "State" : State,
                "Place_ID" : Place_ID,
                "Price_range" : Price_range,
                "Rating" : Rating,
                "Ratings_count" : Ratings_count                              
})





#food_ratings_df.dropna(inplace=True)
food_ratings_df.head()

,City,Lat,Lng,State,Place_ID,Price_range,Rating,Ratings_count
0,Bishop,27.5784932,-97.78891039999999,TX,ChIJjSdIdJ0oZoYRWWVz457_1S4,1,4,378
1,Bishop,27.5818853,-97.7877881,TX,ChIJI1nC8PqBaIYRy7xJa9DAajw,1,4.2,301
2,Hillsboro,38.36204239999999,-97.2128091,KS,ChIJn2poYW98u4cRaMejPeXgeLQ,1,3.9,286