In [33]:
# Dependencies and deffinitions
import random
import pandas as pd
import numpy as np
import requests
import json
from config import gkey
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "35.252828545589864, -80.8561618515021", 
    "radius": 50000,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
food_ratings_df=pd.DataFrame(columns =['Place ID','Name','Latitude','Longitude','Address',
                                       'Rating','Ratings count','Price range'])

In [34]:
# assemble url and make API request
# Lower 48 box 25 to 49 -125 to -67

for i in range(102):
    lat = random.uniform(25.000000001, 49.000000001)
    lng = random.uniform(-125.000000001, -67.000000001)
    ll_dot = str(lat) +', ' + str(lng)
    params = {
    "location": ll_dot,  
    "radius": 50000,
    "type": "restaurant",
    "key": gkey,
    }
    response = requests.get(base_url, params=params).json()
    
    print(ll_dot)
    for j in range(len(response['results'])):
        if ('plus_code' in response["results"][j]) and \
           ('business_status' in response["results"][j]) and \
           ('compound_code' in response["results"][j]['plus_code']):
            if ('rating' in response["results"][j]) and \
               ('price_level' in response["results"][j]) and \
               ('user_ratings_total' in response["results"][j]) and \
               (response["results"][j]['business_status'] == 'OPERATIONAL') and \
               (', USA' in response["results"][j]['plus_code']['compound_code']):
                new_row = {'Place ID':response["results"][j]["place_id"],
                           'Name':response["results"][j]["name"],
                           'Latitude':response["results"][j]["geometry"]["location"]["lat"],
                           'Longitude':response["results"][j]["geometry"]["location"]["lng"],
                           'Address':response["results"][j]['plus_code']['compound_code'],
                           'Price range':response["results"][j]['price_level'],
                           'Rating':response["results"][j]["rating"],
                           'Ratings count':response["results"][j]["user_ratings_total"]
                          }
                food_ratings_df = food_ratings_df.append(new_row, ignore_index=True)
            
response

41.765068601481104, -94.9914105316503
40.95792081343126, -74.71941919571057
37.55615934232412, -69.4497300130289
44.950389616540136, -106.5217440515973
44.4968727594551, -82.06262545764808
27.75254872497705, -119.82926062174053
29.613468866577875, -80.34151485590985
27.847006859191126, -88.62689845845988
26.615561848185358, -113.26119105522004
43.722929200125094, -89.79780201966925
41.90219350641689, -105.77014213692598
32.1234239424553, -100.13130275320849
27.994063576786242, -107.49035644567613
28.886077183913983, -75.42155871261522
28.538059461781582, -112.11952950099024
34.41068840889995, -71.00587015753555
30.70376851942552, -77.50442204570541
41.72520908744032, -102.6349980324557
44.04696940016423, -121.57049379402974
45.60652102443576, -102.87128428116823
43.583777348978565, -118.11610133649897
38.381807465071525, -87.34034352755398
32.88984125064667, -72.10535852566036
40.82041155607955, -67.23891936042317
44.43898247326976, -89.75367121598171
44.98301967173512, -107.40186600731008
31.726892918971703, -72.56637597946893
40.233996433983, -116.21732523892976
29.034479566787816, -81.79942814651383
36.00063401801806, -112.01797863541611
29.691857025628536, -89.06375221112248
46.01138677369193, -80.08928194598695
48.50838459172628, -95.02580176977258
36.251862348454914, -80.44668100946485
29.843038167448455, -98.13227566376942
40.81818587870268, -80.52333508721465
44.12648057009882, -86.12032542689903
44.83721216497065, -86.27427401777595
47.654370304962725, -71.46255798530879
37.41489880062637, -94.81135529760878
44.39415729802777, -86.82339871311098
39.61635351707169, -73.63918571938422
40.889239440808254, -77.64339966393779
25.157131067718144, -110.84231607766168
28.69728720346736, -95.95271082450549
31.37911210074569, -108.83783213709046
29.866297158655485, -67.74732565980634
30.883014385386584, -113.54762640626211
39.69487087121051, -108.58564337789097
26.036735547037807, -81.9169443789414
38.134888703470956, -122.92424346641184
29.023161421957973, -92.44303789845132
41.13131998855084, -95.45644664303103
46.69114656035639, -83.04511341333861
26.272339295547553, -81.71061027506582
44.174512536806645, -78.75352404972747
30.509141533618074, -99.83342162400044
32.960041472899036, -104.56201685641219
26.683843425252917, -71.45026872930984
36.44390263456433, -97.4250950677729
26.817828513508342, -98.77033825881158
37.095286668010964, -99.73886111627053
31.667124238899234, -109.59121778079962
47.262145049832114, -67.09425159264467
26.102372681821215, -83.44363018611301
35.1275072945039, -95.91396448661281
46.55483350571839, -86.94360889034547
26.981148636523457, -120.95445607454272
35.87374123680953, -124.54004509647795
39.69878156368498, -99.04213406920351
31.163983478857148, -124.19515968180883
30.534483572087254, -77.172053807793
27.552591012774567, -112.36195745015455
34.81326705239718, -75.40253830286022
27.968308123560018, -108.46342760588985
38.34447557847042, -102.63968358607212
41.36398208055354, -92.74114120016819
47.74636719481816, -119.1388002995529
41.05610912512945, -99.31811025661715
42.60287849130644, -98.06534219094848
45.38521470485302, -88.03352148946598
41.74818888517679, -119.32372855740095
44.03310900793953, -95.48165656612889
26.35073551399166, -83.32024301564354
41.104144248825236, -97.74030308732169
29.140024228144267, -124.16739723081851
39.255909194291846, -90.14100653075644
32.40788328390569, -115.81521238976833
25.951135425056414, -91.96085247123482
30.836591151784642, -69.45326415492741
31.38532659594083, -85.5525214760656
31.98411507286211, -82.81699978607759
42.407101932519325, -97.95498426653366
44.99456289876045, -97.10461488881589
41.157870232841276, -76.69638512756691
40.94916853744468, -86.61729458008857
35.31846468924907, -77.39534656733812
38.50394800972968, -69.80408671705914
38.91115938865386, -69.73294688956541
47.03426086972624, -97.49058462030875
36.76960570444217, -118.13540376335597
31.90270791302942, -68.95149276380089

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [35]:
food_ratings_df.to_csv(r'102pull_ratings.csv', index = False)
food_ratings_df

,Place ID,Name,Latitude,Longitude,Address,Rating,Ratings count,Price range
0,ChIJnb2_eNg57YcRZ_OqRx2zcEg,Subway,42.081298,-94.893611,"34J4+GH Carroll, IA, USA",3.8,14,1
1,ChIJnVD2eOs57YcRzTOwU9N0KWE,Subway,42.063426,-94.847126,"3573+94 Carroll, IA, USA",4.1,88,1
2,ChIJ0fvPeSjR7IcRgZ3zVYWK3OQ,Subway,41.726257,-94.936747,"P3G7+G8 Audubon, IA, USA",3.9,35,1
3,ChIJ9U6Rbkgjk4cRnY9N3xI9dJg,Subway,41.646296,-95.329643,"JMWC+G4 Harlan, IA, USA",4.2,135,1
4,ChIJxchYJPCz7IcRVjTK7dwdR08,Subway,41.403551,-94.988834,"C236+CF Atlantic, IA, USA",4.2,77,1
...,...,...,...,...,...,...,...,...
783,ChIJU4hDrEuEv4AR36Ju7j1cDlg,McDonald's,36.602275,-118.061996,"JW2Q+W6 Lone Pine, CA, USA",3.8,1019,1
784,ChIJvaPBS02Ev4AR_fqFAmtBJ2M,Carl's Jr. #7115,36.607894,-118.064832,"JW5P+53 Lone Pine, CA, USA",3.8,518,1
785,ChIJ8-1aH9i9v4ARNqIxS0FiIts,Glenn's Taqueria,36.800358,-118.198771,"RR22+4F Independence, CA, USA",4.9,147,1
786,ChIJZZw_e5a9v4ARO5bn0h0Nbgs,Port of Subs,36.801915,-118.199072,"RR22+Q9 Independence, CA, USA",4.7,16,1
787,ChIJox90IU2Ev4AR2TYsbGJU-T0,Tacos Los Hermanos Food Truck,36.607060,-118.063565,"JW4P+RH Lone Pine, CA, USA",4.8,183,1